<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>imdzz's Blog</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/blog.css">
</head>

<!-- typora的css文件会指定内边距30，需要指定 -->
<body style="margin: 0; padding: 0;">
<div id="left">
    <div id="left-top">
        <h1 id="left-title">imdzz's blog</h1>
        <img id="icon" src="/images/duck.jpg" />
        <div id="breaf-introd">
            这是一家书店，你可以随便看看<br />
        </div>
    </div>
    <ul id="social-list">
        <li class="social-list-item">
            <a href="https://github.com/im-dzz">github</a>
        </li>
        <li class="social-list-item">
            <a href="https://github.com/im-dzz">小程序</a>
        </li>
    </ul>
    <!--//social-list-->
    <hr id="left-hr" style="text-alig" />
    <ul id="menu-list">
        <li class="menu-list-item">
            <a href="/blog.html">主页 </a>
        </li>
        <li class="menu-list-item">
            <a href="https://github.com/im-dzz">关于作者</a>
        </li>
    </ul>
    <!--//social-list-->
    <div id="left-bottom">
        <span id="left-bottom-cont">书店网站开源，源码请点击</span>
        <a href="https://github.com/im-dzz/blog">这里</a>
    </div>
</div>

<div id="mid">
    <div id="mid-blog">
        <header id="mid-blog-header">
            <h2 id="mid-blog-header-title" th:text="${Blog.blog.title}"></h2>
            <div id="mid-blog-header-disc">
                <span class="date" th:text="发布时间：+${Blog.blog.createDate}"></span>
                <span class="time" th:text="阅读数：+${blog.readNum}">阅读数：0</span>
                <span class="comment"><a href="#">4 comments</a></span>
            </div>
        </header>

        <div class="blog-post-body">
            <figure class="blog-banner">
                <span th:utext="${Blog.blog.content}">
                </span>
            </figure>
        </div>
    </div>
</div>
</body>

</html>