<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>注册</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/register.css">
    <!-- jquery和自己的js文件引入顺序不能颠倒，blog.js依赖jquery，需要放到后面 -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/blog.js" ></script>
</head>
<body style="margin: 0; padding: 0;">
<table id="register-table" cellspacing="10px">
    <tr>
        <td><label for="username" >用户名：</label></td>
        <td><input id="username" type="text"></td>
    </tr>
    <tr>
        <td><label for="password" >密 码：</label></td>
        <td><input id="password" type="password"></td>
    </tr>
    <tr>
        <td><label for="confirm_password" >确认密码：</label></td>
        <td><input id="confirm_password" type="password"></td>
    </tr>
    <tr>
        <td><label for="verification-code" >验证码：</label></td>
        <td><input id="verification-code" type="text"></td>
    </tr>
    <tr>
        <td colspan="2">
            <input id="register-btn" type="submit" onclick="gotoRegist()" value="注册"/>
        </td>
    </tr>
</table>
</body>
</html>